In [1]:
from pymongo import MongoClient
from pprint import pprint
import pandas as pd
import json

Initialize Mongodb database

In [2]:
client = MongoClient()

In [3]:
db = client['philadelphia_home_prices']

In [4]:
db.list_collection_names()

['prices_messy']

In [5]:
#uncomment to drop collection if needed during testing
db.drop_collection('prices_messy')

{'nIndexesWas': 1, 'ns': 'philadelphia_home_prices.prices_messy', 'ok': 1.0}

In [6]:
col = db.create_collection('prices_messy')

In [7]:
db.list_collection_names()

['prices_messy']

Add old data

In [8]:
df = pd.read_csv('house_data.csv')#.set_index(['Address'])
df2 = pd.read_csv('house_data_day2.csv')
df = pd.concat([df,df2])

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 702 entries, 0 to 504
Data columns (total 26 columns):
Unnamed: 0             702 non-null int64
Address                702 non-null object
Locality               702 non-null object
Region                 702 non-null object
Postal Code            702 non-null int64
Price                  702 non-null object
SQFT House             702 non-null object
SQFT Lot               702 non-null object
Full Baths             702 non-null object
Half Baths             702 non-null object
Bedrooms               702 non-null object
Garage                 702 non-null object
Master Bath            702 non-null object
Cooling                702 non-null object
Heating                702 non-null object
Elementary School      702 non-null object
Middle School          702 non-null object
High School            702 non-null object
School District        702 non-null object
Annual Tax             702 non-null object
House Type             702 non-null object
Build Year             702 non-null object
Updated                702 non-null object
Neighborhood           702 non-null object
Association Monthly    702 non-null object
Schoool District       529 non-null float64
dtypes: float64(1), int64(2), object(23)
memory usage: 148.1+ KB

In [10]:
df.head()

,Unnamed: 0,Address,Locality,Region,Postal Code,Price,SQFT House,SQFT Lot,Full Baths,Half Baths,...,Middle School,High School,School District,Annual Tax,House Type,Build Year,Updated,Neighborhood,Association Monthly,Schoool District
0,0,724 W Chelten Ave,Philadelphia,PA,19126,459000,3290,17689,3,3,...,[],"['High School: CENTRAL ', 'High School: CENTRAL']",School District: THE SCHOOL DISTRICT OF PHILAD...,4205,Single family,1925,05/15/2020,['Neighborhood: COBBS CREEK<'],['0'],53.0
1,1,2230 S Carlisle St,Philadelphia,PA,19145,250000,1050,689,1,[''],...,[],[],School District: THE SCHOOL DISTRICT OF PHILAD...,1407,Multi family,1920,05/16/2020,['Neighborhood: COBBS CREEK<'],['0'],53.0
2,2,1247 E Columbia Ave Apt 30,Philadelphia,PA,19125,500000,1092,[],2,1,...,[],[],School District: THE SCHOOL DISTRICT OF PHILAD...,897,Condo,2016,05/17/2020,['Neighborhood: COBBS CREEK<'],['312'],53.0
3,3,500 Admirals Way Apt 112,Philadelphia,PA,19146,383500,902,[],1,[''],...,[],[],School District: THE SCHOOL DISTRICT OF PHILAD...,4878,Condo,2006,05/17/2020,['Neighborhood: COBBS CREEK<'],['432'],53.0
4,4,1021 Hazelwood Dr,Philadelphia,PA,19150,370000,2513,2716,3,1,...,[],"['High School: ROXBOROUGH ', 'High School: ROX...",School District: THE SCHOOL DISTRICT OF PHILAD...,720,Single family,2016,05/15/2020,['Neighborhood: COBBS CREEK<'],['0'],53.0

In [11]:
df = df.drop(['Unnamed: 0'],1)

In [12]:
df.head(1)

,Address,Locality,Region,Postal Code,Price,SQFT House,SQFT Lot,Full Baths,Half Baths,Bedrooms,...,Middle School,High School,School District,Annual Tax,House Type,Build Year,Updated,Neighborhood,Association Monthly,Schoool District
0,724 W Chelten Ave,Philadelphia,PA,19126,459000,3290,17689,3,3,5,...,[],"['High School: CENTRAL ', 'High School: CENTRAL']",School District: THE SCHOOL DISTRICT OF PHILAD...,4205,Single family,1925,05/15/2020,['Neighborhood: COBBS CREEK<'],['0'],53.0

In [13]:
df.reset_index(inplace=True)

In [14]:
df.head(1)

,index,Address,Locality,Region,Postal Code,Price,SQFT House,SQFT Lot,Full Baths,Half Baths,...,Middle School,High School,School District,Annual Tax,House Type,Build Year,Updated,Neighborhood,Association Monthly,Schoool District
0,0,724 W Chelten Ave,Philadelphia,PA,19126,459000,3290,17689,3,3,...,[],"['High School: CENTRAL ', 'High School: CENTRAL']",School District: THE SCHOOL DISTRICT OF PHILAD...,4205,Single family,1925,05/15/2020,['Neighborhood: COBBS CREEK<'],['0'],53.0

In [15]:
prices_dict = df.to_json(orient="index")
parsed = json.loads(prices_dict)
list_of_dics = [value for value in parsed.values()]

In [16]:
len(list_of_dics)

702

In [17]:
col.insert_many(list_of_dics)

In [18]:
col.count()

/Users/chrismalasics/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning: count is deprecated. Use estimated_document_count or count_documents instead. Please note that $where must be replaced by $expr, $near must be replaced by $geoWithin with $center, and $nearSphere must be replaced by $geoWithin with $centerSphere
  """Entry point for launching an IPython kernel.

702

In [19]:
list_of_dics[0]

{'index': 0,
 'Address': '724 W Chelten Ave',
 'Locality': 'Philadelphia',
 'Region': 'PA',
 'Postal Code': 19126,
 'Price': '459000',
 'SQFT House': '3290',
 'SQFT Lot': '17689',
 'Full Baths': '3',
 'Half Baths': '3',
 'Bedrooms': '5',
 'Garage': '[]',
 'Master Bath': '[]',
 'Cooling': "['Whole House Fan']",
 'Heating': "['Hot Water']",
 'Elementary School': '[]',
 'Middle School': '[]',
 'High School': "['High School: CENTRAL ', 'High School: CENTRAL']",
 'School District': 'School District: THE SCHOOL DISTRICT OF PHILADELPHIA ',
 'Annual Tax': '4205',
 'House Type': 'Single family',
 'Build Year': '1925',
 'Updated': '05/15/2020',
 'Neighborhood': "['Neighborhood: COBBS CREEK<']",
 'Association Monthly': "['0']",
 'Schoool District': 53.0,
 '_id': ObjectId('5f8f3b5c10b8d8dd650e2938')}

In [20]:
len(list_of_dics)

702

In [21]:
db.collection_names()

/Users/chrismalasics/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning: collection_names is deprecated. Use list_collection_names instead.
  """Entry point for launching an IPython kernel.

['prices_messy', 'listing_urls', 'listing_data']

In [22]:
#pull urls from mongo db
cursor = db.listing_data.find({})
listings = list(cursor)

In [23]:
listings

[{'_id': ObjectId('5f9a0001329f96e5db63d260'),
  'Address': '1232 N Mascher St Unit A,',
  'Locality': 'Philadelphia',
  'Region': 'PA',
  'Postal Code': '19122',
  'Price': ['639,900',
   '639,900',
   '639,900',
   '639,900',
   '639,900',
   '639,900',
   '639,900',
   '639,900',
   '639,900'],
  'Days on Market': ['37'],
  'SQFT House': ['3,188', '3,188', '3,188', '3,188'],
  'SQFT Lot': ['960', '960'],
  'Full Baths': ['3'],
  'Half Baths': [],
  'Bedrooms': ['3'],
  'Garage': [' 1'],
  'Master Bath': [],
  'Cooling': [' Central A/C'],
  'Heating': [' Forced Air Heating'],
  'Annual Tax': ['2056'],
  'House Type': [' End of Row/Townhouse'],
  'Build Year': [' 2015', ' 2015'],
  'Updated': [' 08/07/2020'],
  'Neighborhood': ['OLD KENSINGTON'],
  'Neighborhood median sales': ['250,000'],
  'Neighborhood Median DOM': ['63'],
  'Neighborhood Price SQFT': ['195'],
  'Association': ['Yes'],
  'Association Monthly': ['172']},
 {'_id': ObjectId('5f9a00b1329f96e5db63d261'),
  'Address': '212 Carpenter St Unit C,',
  'Locality': 'Philadelphia',
  'Region': 'PA',
  'Postal Code': '19147',
  'Price': ['415,000',
   '415,000',
   '415,000',
   '415,000',
   '415,000',
   '415,000',
   '415,000',
   '415,000',
   '415,000'],
  'Days on Market': ['49'],
  'SQFT House': ['1,440', '1,440', '1,440', '1,440'],
  'SQFT Lot': ['785', '785'],
  'Full Baths': ['1'],
  'Half Baths': [' 1'],
  'Bedrooms': ['3'],
  'Garage': [],
  'Master Bath': [],
  'Cooling': [' Central A/C'],
  'Heating': [' Forced Air Heating,'],
  'Annual Tax': ['5312'],
  'House Type': [' Interior Row/Townhouse'],
  'Build Year': [' 1920', ' 1920'],
  'Updated': [' 08/07/2020'],
  'Neighborhood': ['QUEEN VILLAGE'],
  'Neighborhood median sales': ['550,500'],
  'Neighborhood Median DOM': ['60'],
  'Neighborhood Price SQFT': ['365'],
  'Association': ['No'],
  'Association Monthly': ['0']},
 {'_id': ObjectId('5f9a0146329f96e5db63d262'),
  'Address': '1211 E Cheltenham Ave,',
  'Locality': 'Philadelphia',
  'Region': 'PA',
  'Postal Code': '19124',
  'Price': ['100,000',
   '100,000',
   '100,000',
   '100,000',
   '100,000',
   '100,000',
   '100,000',
   '100,000',
   '100,000'],
  'Days on Market': ['44'],
  'SQFT House': ['1,110', '1,110', '1,110', '1,110'],
  'SQFT Lot': ['1080', '1080'],
  'Full Baths': ['1'],
  'Half Baths': [],
  'Bedrooms': ['3'],
  'Garage': [],
  'Master Bath': [],
  'Cooling': [],
  'Heating': [' Hot Water'],
  'Annual Tax': ['1257'],
  'House Type': [' Interior Row/Townhouse'],
  'Build Year': [' 1950', ' 1950'],
  'Updated': [' 08/07/2020'],
  'Neighborhood': ['OXFORD CIRCLE'],
  'Neighborhood median sales': [],
  'Neighborhood Median DOM': [],
  'Neighborhood Price SQFT': ['120'],
  'Association': ['No'],
  'Association Monthly': ['0']},
 {'_id': ObjectId('5f9a01ff329f96e5db63d263'),
  'Address': '1002 Brandywine St,',
  'Locality': 'Philadelphia',
  'Region': 'PA',
  'Postal Code': '19123',
  'Price': ['320,000',
   '320,000',
   '320,000',
   '320,000',
   '320,000',
   '320,000',
   '320,000',
   '320,000',
   '320,000'],
  'Days on Market': ['43'],
  'SQFT House': ['1,540', '1,540', '1,540', '1,540'],
  'SQFT Lot': ['779', '779'],
  'Full Baths': ['1'],
  'Half Baths': [],
  'Bedrooms': ['3'],
  'Garage': [],
  'Master Bath': [],
  'Cooling': [' Window Unit(s)'],
  'Heating': [' Forced Air Heating'],
  'Annual Tax': ['4310'],
  'House Type': [' End of Row/Townhouse'],
  'Build Year': [' 1905', ' 1905'],
  'Updated': [' 08/07/2020'],
  'Neighborhood': ['NORTHERN LIBERTIES'],
  'Neighborhood median sales': [],
  'Neighborhood Median DOM': [],
  'Neighborhood Price SQFT': ['239'],
  'Association': ['No'],
  'Association Monthly': ['0']},
 {'_id': ObjectId('5f9a02cc329f96e5db63d264'),
  'Address': '2607 N 31st St,',
  'Locality': 'Philadelphia',
  'Region': 'PA',
  'Postal Code': '19132',
  'Price': ['62,000',
   '62,000',
   '62,000',
   '62,000',
   '62,000',
   '62,000',
   '62,000',
   '62,000',
   '62,000'],
  'Days on Market': ['82'],
  'SQFT House': ['1,356', '1,356', '1,356', '1,356'],
  'SQFT Lot': ['1001', '1001'],
  'Full Baths': ['1'],
  'Half Baths': [],
  'Bedrooms': ['3'],
  'Garage': [],
  'Master Bath': [],
  'Cooling': [],
  'Heating': [' Forced Air Heating'],
  'Annual Tax': ['210'],
  'House Type': [' End of Row/Townhouse'],
  'Build Year': [' 1915', ' 1915'],
  'Updated': [' 08/07/2020'],
  'Neighborhood': ['BREWERYTOWN'],
  'Neighborhood median sales': ['130,250'],
  'Neighborhood Median DOM': ['52'],
  'Neighborhood Price SQFT': ['103'],
  'Association': ['No'],
  'Association Monthly': ['0']},
 {'_id': ObjectId('5f9a0369329f96e5db63d265'),
  'Address': '1106 E Haines St,',
  'Locality': 'Philadelphia',
  'Region': 'PA',
  'Postal Code': '19138',
  'Price': ['242,050',
   '242,050',
   '242,050',
   '242,050',
   '242,050',
   '242,050',
   '242,050',
   '242,050',
   '242,050'],
  'Days on Market': ['74'],
  'SQFT House': ['1,895', '1,895', '1,895', '1,895'],
  'SQFT Lot': ['3850', '3850'],
  'Full Baths': ['2'],
  'Half Baths': [' 1'],
  'Bedrooms': ['3'],
  'Garage': [],
  'Master Bath': [],
  'Cooling': [],
  'Heating': [],
  'Annual Tax': [],
  'House Type': [],
  'Build Year': [' 1925'],
  'Updated': [' 08/07/2020'],
  'Neighborhood': [],
  'Neighborhood median sales': ['125,000'],
  'Neighborhood Median DOM': ['108'],
  'Neighborhood Price SQFT': ['100'],
  'Association': [],
  'Association Monthly': []},
 {'_id': ObjectId('5f9a03f6329f96e5db63d266'),
  'Address': '766 N Uber St,',
  'Locality': 'Philadelphia',
  'Region': 'PA',
  'Postal Code': '19130',
  'Price': ['1,302,500',
   '1,302,500',
   '1,302,500',
   '1,302,500',
   '1,302,500',
   '1,302,500',
   '1,302,500',
   '1,302,500',
   '1,302,500'],
  'Days on Market': ['92'],
  'SQFT House': ['3,684', '3,684', '3,684', '3,684'],
  'SQFT Lot': ['1905', '1905'],
  'Full Baths': ['5'],
  'Half Baths': [' 1'],
  'Bedrooms': ['5'],
  'Garage': [],
  'Master Bath': [],
  'Cooling': [' Central A/C'],
  'Heating': [' Forced Air Heating'],
  'Annual Tax': ['1113'],
  'House Type': [' Interior Row/Townhouse'],
  'Build Year': [' 2019', ' 1985'],
  'Updated': [' 08/07/2020'],
  'Neighborhood': ['FRANCISVILLE'],
  'Neighborhood median sales': ['396,900'],
  'Neighborhood Median DOM': ['78'],
  'Neighborhood Price SQFT': ['285'],
  'Association': ['No'],
  'Association Monthly': ['0']},
 {'_id': ObjectId('5f9a04be329f96e5db63d267'),
  'Address': '4513 N Gratz St,',
  'Locality': 'Philadelphia',
  'Region': 'PA',
  'Postal Code': '19140',
  'Price': ['67,000',
   '67,000',
   '67,000',
   '67,000',
   '67,000',
   '67,000',
   '67,000',
   '67,000',
   '67,000'],
  'Days on Market': ['50'],
  'SQFT House': ['1,186', '1,186', '1,186', '1,186'],
  'SQFT Lot': ['1273', '1273'],
  'Full Baths': ['1'],
  'Half Baths': [],
  'Bedrooms': ['3'],
  'Garage': [],
  'Master Bath': [],
  'Cooling': [],
  'Heating': [],
  'Annual Tax': ['938'],
  'House Type': [' Interior Row/Townhouse'],
  'Build Year': [' 1925', ' 1925'],
  'Updated': [' 08/07/2020'],
  'Neighborhood': ['LOGAN'],
  'Neighborhood median sales': ['170,250'],
  'Neighborhood Median DOM': ['53'],
  'Neighborhood Price SQFT': ['104'],
  'Association': ['No'],
  'Association Monthly': ['0']},
 {'_id': ObjectId('5f9a0578329f96e5db63d268'),
  'Address': '12518 Fedor Pl,',
  'Locality': 'Philadelphia',
  'Region': 'PA',
  'Postal Code': '19154',
  'Price': ['270,000',
   '270,000',
   '270,000',
   '270,000',
   '270,000',
   '270,000',
   '270,000',
   '270,000',
   '270,000'],
  'Days on Market': ['39'],
  'SQFT House': ['1,360', '1,360', '1,360', '1,360'],
  'SQFT Lot': ['2000', '2000'],
  'Full Baths': ['1'],
  'Half Baths': [' 1'],
  'Bedrooms': ['3'],
  'Garage': [' 1'],
  'Master Bath': [],
  'Cooling': [' Central A/C'],
  'Heating': [' Central Heating,'],
  'Annual Tax': ['2928'],
  'House Type': [' Interior Row/Townhouse'],
  'Build Year': [' 1962', ' 1962'],
  'Updated': [' 08/07/2020'],
  'Neighborhood': ['PARKWOOD'],
  'Neighborhood median sales': ['250,000'],
  'Neighborhood Median DOM': ['63'],
  'Neighborhood Price SQFT': ['195'],
  'Association': ['No'],
  'Association Monthly': ['0']}]